body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    
}

main {
    flex: 2;
    justify-content: center;
    text-align: center;
    margin: 2rem;
    font-size: 1rem;
    background: rgba(238, 234, 234, 0.7);
}


section {
    max-width: 800px;
    margin: 1rem auto;
}

